body{
    background-image: url('../images/cork-board.png');
}
/* formularze, wymagania do hasła */
#form{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}
/*wymagania do hasła */
#requirements{
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 200px;
}

main{
    margin-top: 30px;
    /* text-align: center; */
}

#book{
    margin-top: 20px; 
}

#calendar{
    background-color: white; 
    border: 1px solid black;
    width: 800px;
}

/* #userDescr{ NA RAZIE NIE MA
    width: 280px;
    font-family: inherit;
    background-image:  url("info-background.png");;
    border: 1px solid black;
} */

/* #userGoal{ NA RAZIE NIE MA
    margin-left: 10px;
    width: 200px;
    background-color: rgb(30, 126, 217);
    border: 1px solid black;
} */